<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lgy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.lgy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lgy.Hfp_indexActivity"
            android:label="@string/title_activity_hfp_index" >
        </activity>
        <activity
            android:name="com.example.lgy.Hzp_indexActivity"
            android:label="@string/title_activity_hzp_index" >
        </activity>
        <activity
            android:name="com.example.lgy.Fs_indexActivity"
            android:label="@string/title_activity_fs_index" >
        </activity>
        <activity
            android:name="com.example.lgy.Xmps_indexActivity"
            android:label="@string/title_activity_xmps_index" >
        </activity>
        <activity
                android:name="com.example.lgy.DetailListActivity"
                android:label="@string/title_activity_detail" >
        </activity>
    </application>

</manifest>
